[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
peewee = "*"
python-dotenv = "*"
uvicorn = "*"

[dev-packages]
black = "==21.7b0"

[requires]
python_version = "3.9"
